.exerciseTime, .exerciseName{
    padding-left: 20%;
    font-weight: 600;
}

.exerciseName {
   
    font-size: 4vw;
    font-family: 'Roboto'
}

.runWorkout {
    margin-left: 2%;
}

.timers {
    text-align: center;
}